@use '../../variables' as *;


.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (max-width: $mobile) {
    font-size: .8rem;
  }
}

.profile__card {
  width: 40%;
  background: var(--light-color);
  border: 1px solid var(--black-color);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  position: relative;

  @media (max-width: $tablet) {
    width: 90%;
  }

  app-back-button {
    position: absolute;
    top: .7rem;
    left: .7rem;
  }

  .profile__title {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    #avatar {
      border: 2px solid var(--black-color);
      border-radius: .7rem;
    }

    .profile__buttons {
      display: flex;
      gap: 1rem;

      button {
        width: 10rem;
        height: 2.5rem;
        font-size: 1.2rem;
        border-radius: .7rem;
        cursor: pointer;
        transition: 0.3s;

        @media (max-width: $mobile) {
          width: 8.5rem;
          font-size: 1rem;
        }
      }

      .edit {
        background: var(--light-gray-color);
        color: var(--white-color);
        border: none;

        &:hover {
          background: var(--white-color);
          border: 2px solid var(--light-gray-color);
          color: var(--dark-gray-color);
          transition: 0.3s;
        }
      }

      .delete {
        background: var(--white-color);

        &:hover {
          background: var(--black-color);
          color: var(--white-color);
          transition: 0.3s;
        }
      }
    }
  }
}

.profile__name {
  font-size: 2rem;
  margin: 0;
}

.profile__username {
  font-size: 1rem;
  color: var(--disabled-gray-color);
  margin-bottom: 1.5rem;
}

.profile__section {
  margin-top: 1.5rem;

  .map__container {
    margin-top: 2rem;

    h2 {
      margin-bottom: 0.5rem;
    }

    .map {
      height: 300px;
      width: 100%;
      border: 1px solid var(--black-color);
      border-radius: 12px;
    }
  }


  h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--light-bg-gray-color);
    padding-bottom: .25rem;
  }

  p {
    margin: .25rem 0;
    line-height: 1.4;
  }

  a {
    color: var(--black-color);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
