<div class="card__container">
  <nz-card class="card">
    <div class="block__avatar">
      <nz-avatar nzSrc="user/user.svg" class="avatar"></nz-avatar>
    </div>
    <div class="block__content">
      <div class="card__content">
        <p class="ft24">{{ user.name }}</p>
        <p>EMAIL: {{ user.email }}</p>
        <p>PHONE: {{ user.phone }}</p>
        <p>CITY: {{ user.address.city }}</p>
      </div>
    </div>
    <div class="block__under__user">
      <p class="card__username">&commat;{{ user.username }}</p>
      <div class="button__block">
        <button
          class="more__button"
          [routerLink]="['/users', user.id]">
          ПОДРОБНЕЕ
        </button>
      </div>
    </div>
  </nz-card>
</div>
