.card__container {
  user-select: none;

  .card {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 24rem;
    padding: 16px;
    font-size: .9rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform .2s ease;
    gap: 1rem;

    .block__avatar {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .avatar {
      border: 2px solid var(--black-color);
      border-radius: .3rem;
    }

    .card__content {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .block__under__user {
      position: absolute;
      width: 85%;
      bottom: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: auto;
      gap: 1rem;

      .button__block {

        .more__button {
          cursor: pointer;
          height: 2.5rem;
          width: 8rem;
          background: none;
          border-radius: .7rem;
          transition: all .2s ease;
          font-size: 1rem;

          &:hover {
            color: var(--white-color);
            background: var(--black-color);

            transition: all .4s ease;
          }
        }
      }

      .card__username {
        width: 35%;
        color: var(--gray-color);
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &:hover {
      transform: scale(1.1);
      transition: transform .2s ease;
    }
  }
}
