:root {
  // for basic variables styles
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #888;
  --light-gray-color: #AAA;
  --dark-gray-color: #777;
}

body, html {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  font-family: 'Ubuntu', 'Arial', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ft24 {
  font-size: 1.8rem;
}
